<html>

<head>
  <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"> </script>
  <script src="{{ url_for('static', filename='js/jquery-ui-1.8.18.custom.min.js') }}"> </script>

  <script src="{{ url_for('static', filename='js/color.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/conan_controller.js') }}"></script>

  <script src="{{ url_for('static', filename='js/rickshaw/vendor/d3.v3.js') }}"> </script>
  <script src="{{ url_for('static', filename='js/rickshaw/rickshaw.js') }}"></script>
  <script src="{{ url_for('static', filename='js/rickshaw/src/js/Rickshaw.Fixtures.RandomData.js') }}"></script>
  <script src="{{ url_for('static', filename='js/rickshaw/extensions.js') }}"></script>

  <link href="{{ url_for('static', filename='css/jquery-ui-1.8.18.custom.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/conan_style.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='js/rickshaw/rickshaw.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='js/rickshaw/examples/css/extensions.css') }}" rel="stylesheet" type="text/css">

</head>

<body>
  <div id="tasknamehack_{{ task_def['task_name'] }}" class:"hackyhack"></div>
  <div id="subjecthack_{{ username }}" class:"hackyhack"></div>

  <div id="universe">
    <div id="controls">

      <div class="formelem" class="styled-select">
        <select id="videodropdown" class="data_dropdown">
          {% for vid in task_def['video_list'] %}
          <option value="//{{ task_def['data_uri'] }}/{{ vid }}">{{ vid }}</option>
          {% endfor %}
        </select>


        <select id="variabledropdown" class="data_dropdown">
          {% for variable in task_def['task_details']['variables'] %}
          <option value="{{ variable }}">{{ variable }}</option>
          {% endfor %}
        </select>

      </div>


    </div>



    <div id="vidcontainer">
      <div id="vidpane" class:"anno_element">

      </div>

      <div id="dimension"></div>

      <div id="slider" class:"" style="width:600px">


      </div>

      <div id="labels">
        <span class="left" style="margin-top:5px">Low</span>
        <span class="right" style="margin-top:5px">High</span>
        <br>
        <h1 style="text-align:center">Click box to stop.</h1>
      </div>
    </div>
  </div>



  <div id="content">

    <div id="instructions_cont" class:"anno_element" style:"float:right">
      <p id="instructions_header" class:"instructions_header">Controls:</p>
      <p class:"instructions_line">Click on slider handle = start playback+annotating</p>
      <p class:"instructions_line">Click on grey box = stop playback+annotating</p>
    </div>

    <form style="height:45px">
      <br>
      <input type="checkbox" id="view_whole_timeline" value="view_whole_timeline">View whole timeline<br>
    </form>

    <div id="chart_container" style="float:left">
      <div id="chart"></div>
      <div id="timeline"></div>
      <div id="preview"></div>
    </div>


    <div id="panel_container">
      <form id="side_panel">
        <section>
          <div id="legend" style="float:left; position:relative; margin-right:40px">
          </div>
<!--           <div id="interpolation_form" style="position:relative">
            <label for="cardinal">
              <input type="radio" name="interpolation" id="cardinal" value="cardinal" checked>
              <span>cardinal</span>
            </label>
            <label for="linear">
              <input type="radio" name="interpolation" id="linear" value="linear">
              <span>linear</span>
            </label>
            <label for="step">
              <input type="radio" name="interpolation" id="step" value="step-after">
              <span>step</span>
            </label>
          </div>
 -->        </section>
      </form>



    </div>

    <div>
      <select id="deleter_dropdown" class="deleter_dropdown">
      </select>
      <button id="deleter_button" class="deleter_button">Invalidate</button>
      <span id="invalidated_notifier" style="color:red; font-size:15"></span>
    </div>

  </div>



</body>

</html>


